html {
    font-size: 18px;
    background-color: #D6E1DD;
    color: #010101;
    font-family: Optima, sans-serif;
    margin: 100px;
    margin-top: 25px;
}

body {
    width: 75vw;
    margin: 0px auto;
}

head {
    font-size: 20px;
    color: #4C5D58;
    }

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: right;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

.trans:link{  
    color: black;
    text-decoration: none;
}
.trans:visited{
    color:black;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
    background-color: rgba(255,255,255,0.5);
}

a:active {
    background-color: yellow;
}
